body{
  margin:0;
  padding:0;
  background-color:#001933;
  font-family: Sans-Serif;
}
.box{
  width:300px;
  padding:40px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
} 
.box h1{
  color:white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],.box input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border:2px solid #3399FF;
  outline: none;
  color: white;
  padding: 14px 10px;
  border-radius: 24px;
  width: 200px;
  transition:0.25s ;
  cursor: pointer;
} 
.box input[type="text"]:focus,.box input[type="password"]:focus{
  border-color: #66FFB2;
  width: 280px;
}
  
.box input[type="submit"]{
border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border:2px solid #00CC66;
  outline: none;
  color: white;
  padding: 14px 40px;
  border-radius: 24px;
  transition:0.25s ;
  cursor: pointer;
  
}
.box input[type="submit"]:hover{
  background:#66FFB2;
  
}